* text=auto
*.h                                         text eol=crlf
*.hpp                                       text eol=crlf
*.h++                                       text eol=crlf
*.inc                                       text eol=crlf
*.inl                                       text eol=crlf

*.c                                         text eol=crlf
*.cc                                        text eol=crlf
*.cpp                                       text eol=crlf
*.c++                                       text eol=crlf

*.rc                                        text eol=crlf

*.h                                         linguist-language=C++
*.hpp                                       linguist-language=C++
*.h++                                       linguist-language=C++
*.inc                                       linguist-language=C++
*.inl                                       linguist-language=C++

*.c                                         linguist-language=C
*.cc                                        linguist-language=C++
*.cpp                                       linguist-language=C++
*.c++                                       linguist-language=C++

Samples/**                                  linguist-documentation=false
